<%= content_for :main do %>
  <main>
    <%= render 'shared/detail-nav', :locals => {:path => root_path, :page_title => @team.nickname, :page_subtitle => "Subtitle" } %>

    <div class="content">
      <h4>This Week</h4>

      <%= week_calendar number_of_days: 5, events: @events do |date, events| %>
        <% events.each do |event| %>
          <div>
            <%= link_to event.title, event %>
          </div>
        <% end %>
      <% end %>

      <p>This screen should also show:</p>
      <ul>
        <li>Number of people on a team versus number allowed in current tier</li>
        <li>Most recent notes</li>
      </ul>
    </div>

  </main>
<% end %>
