// Vars
$base-font-size: 18px;
$heading-scale: 6;

$color-sidebar: #252942;
$color-highlight: #FC6A6A;
$color-lightblue: #ECEEF7;
$color-medblue: #148DFB;
$color-success: #679436;
$color-background: #F8F9FA;

$color-btn-background: #E8EBFD;
$color-btn-border: #4654FA;
