// Vars
$base-font-size: 18px;
$heading-scale: 6;

$color-sidebar: #252942;
$color-highlight: #FC6A6A;
$color-lightblue: #ECEEF7;
$color-medblue: #148DFB;

$font-body: 'Circular Book', Helvetica, Arial, sans-serif;
$font-header: 'Circular Bold', Helvetica, Arial, sans-serif;
