@import './reset';
@import './variables';
@import './type';
@import './system';

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: $font-body;
  background: $color-background;
  color: #444;
}
body * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-medblue;
  font-family: $font-header;
}

// Nav
.navigation {
  background: #efefef;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navigation__links,
.navigation__auth {
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  li:not(:last-child) {
    margin-right: 1rem;
  }
  a {
    text-decoration: none;
  }
}
.wrapper {
  display: flex;
  height: 100vh;
}
.content {
  padding: 2rem;
}

main {
  flex: 10;
}

.pusher {
  background: $color-medblue;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

// Events
.event {
  margin-bottom: 1rem;
  background: lighten($color-sidebar, 40%);
  padding: 1rem;
  display: flex;
}
.event__date {
  background: #fff;
  padding: 1rem;
  text-align: center;
  width: 100px;
}
.event__date h5 {
  font-size: 1.1rem;
}
.event__date p {
  color: #999;
}
.event__details {
  flex: 2;
  padding: 1rem;
}

.datechip {
  border-radius: 6px;
  padding: .6rem;
  background: #fff;
  box-shadow: 3px 0px 30px darken($color-lightblue, 10%);
  margin-bottom: 1rem;
  line-height: 1.4;

  a {
    text-decoration: none;
    color: inherit;
  }
}
.datechip__title {
  font-family: $font-header;
  font-size: 1.2rem;
}
.datechip__date {
  color: darken($color-lightblue, 30%);
}


// Notices

.message {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  transition: all .20s ease-in-out;
  background: $color-medblue;
  padding: 1rem;
  color: #fff;
  opacity: 1;

  &--hidden {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

// ------------------------------------------------
// Show view subnav
// ------------------------------------------------

.backbar {
  display: flex;
  flex-flow: row;
  padding: 1rem;

  a {
    text-decoration: none;
    color: #444;
  }
}

.backbar__action {
  padding: 1rem 0 1rem 1rem;
  height: 100%;
}
.backbar__subcomponent {
  margin-left: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;

  .chip {
    display: block;
  }
}
.backbar__title {
  padding: 1rem;

  h3 {
    font-size: 1.3rem;
    margin: 0 0 .3rem;
  }

  h5 {
    color: $color-highlight;
    font-size: 1rem;
    margin: 0;
  }
}

// ------------------------------------------------

.roundrect-icon {
  width: 45px;
  height: 45px;
  background: $color-medblue;
  border-radius: 6px;
  line-height: 57px;
  text-align: center;
  color: #fff;
}

.goals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.goals--item {
  background: #fff;
  padding: 2rem;
  box-shadow: 0 10px 20px $color-btn-background;
  border-radius: 12px;
  display: flex;
  flex-flow: column wrap;

  h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  h5 {
    color: $color-btn-border;
    font-size: 1rem;
  }

  .chip {
    align-self: flex-end;
    margin-top: auto;
  }
}
.goals--item:last-child {
  margin-right: 0;
}


// ------------------------------------------------
// Authorized nav
// ------------------------------------------------
.authd-navigation {
  background: #fff;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border-bottom: 1px solid #d7d7d7;

  a {
    color: $color-medblue;
    text-decoration: none;
  }
}
.authd-navigation__logo {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.authd-navigation__links {
  display: flex;
  flex-flow: row;
  line-height: 2;
}
.authd-navigation__links li {
  padding: 0;
  height: 32px;
  flex: 1;
}
.authd-navigation__links li:not(:last-child) {
  margin-right: 1.4rem;
}

.authd-navigation__avatar {
  margin-left: auto;
  display: flex;
}
.authd-navigation__avatar li {
  width: 32px;
  height: 32px;
  line-height: 28px;
  text-align: center;
}
.authd-navigation__avatar li img {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  margin: 0;
}

// ------------------------------------------------

// ------------------------------------------------
// Secondary nav bar on show views
// ------------------------------------------------

.context {
  padding: 0 2rem;
  border-bottom: 1px solid #d7d7d7;
}
.context__menu {
  display: flex;
}
.context__menu__item {
  border-bottom: 4px solid $color-background;
  padding: 8px;
  transition: all .20s ease-in-out;
}
.context__menu__item:not(:last-child) {
  margin-right: 1.4rem;
}
.context__menu__item--active,
.context__menu__item:hover {
  border-bottom: 4px solid $color-btn-border;
}



// ------------------------------------------------

// Calendar
.simple-calendar {
  margin: 2rem 0;
  box-shadow: 0 10px 20px $color-btn-background;
  border-radius: 12px;
}
.simple-calendar .today {
  background: lighten($color-highlight, 20%) !important;
}
.calendar-heading {
  padding: 1rem;
}
