  <% content_for :main do %>

  <main>
    <%= render 'shared/detail-nav', :locals => {:path => root_path, :page_title => @event.title, :page_subtitle => @event.date.strftime("%B, %y %Y @ %l:%M %p") } %>

    <div class="content">

      <p><%= link_to get_colleague_name(@event.colleague_id), colleague_path(@event.colleague_id) %> &rarr;</p>

      <% if @event.reminder == true %>
        <p>You're receiving reminders about this 1:1</p>
      <% else %>
        <p>Reminders are disabled for this 1:1. [Fix]</p>
      <% end %>
      <p><strong>When:</strong> <%= @event.date.strftime("%B, %y %Y @ %l:%M %p") %></p>
      <p><strong>What:</strong> <%= @event.notes %></p>

      <br/>

    </div>

  </main>

<% end %>
