<% content_for :main do %>
  <div class="content">
    <h3><%= @event.title %></h3>
    <h5><%= @event.date.strftime("%B %e, %Y") %></h5>

    <% if @event.reminder? == true %>
      <p>Reminder enabled</p>
    <% else %>
      <p>No reminder set</p>
    <% end %>

    <hr/>

    <%= @event.notes %>

    <br/>

    <%= link_to 'Edit', edit_event_path(@event) %>
  </div>
<% end %>
