<%= content_for :main do %>
  <main>
    
    <%= render 'shared/detail-nav', locals: {
      path: root_path,
      page_title: @colleague.full_name,
      page_subtitle: @colleague.title,
      style: "backbar--simple",
      icon: "person",
      color: @colleague.color,
      subcomponent: "event-notifier"
    } %>
    <div class="content">
      <%= render 'form', colleague: @colleague %>
    </div>

  </main>
<% end %>
