<%= content_for :main do %>

  <main>
    <%= render 'shared/detail-nav', :locals => {:path => root_path, :page_title => @colleague.full_name, :page_subtitle => @colleague.title, :style => "full" } %>

    <div class="context-menu">
      <ul>
        <li>Details</li>
        <li>Events</li>
        <li>Notes</li>
        <li>Admin</li>
      </ul>
    </div>

    <div class="content">

      <div class="colleague-header">
        <div class="colleague-header__events">
          <% if @event.any? %>
            <span class="chip">
              <%= fa_icon "calendar" %> <%= @event.first.date.strftime("%b %e") %>
            </span>
          <% else %>
            <span class="chip">
              <i class="material-icons">calendar</i> No Events Upcoming
            </span>
          <% end %>
        </div>
      </div>

      <hr/>

      <h5>Also:</h5>
      <p>Historical listing of past 1:1's</p>
      <p>Ability to book next 1:1</p>
  </main>
<% end %>
