<% content_for :main do %>
  <main>
    <%= render 'shared/detail-nav', :locals => {
      path: root_path,
      page_title: "Create a new goal",
      icon: "apps"
    } %>

    <div class="content">
      <%= render 'form', goal: @goal %>
    </div>
  </main>
<% end %>
